/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="time"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box; /* Asegura que el padding y border no aumenten el tamaño total */
}

textarea {
    height: 100px;
    resize: vertical;
}

fieldset {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box; /* Asegura que el padding y border no aumenten el tamaño total */
}

legend {
    font-weight: bold;
    color: #555;
}

label input[type="radio"] {
    margin-right: 10px;
}

.tiempo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button[type="submit"] {
    background-color: #28a745;
    color: white;
}

button[type="submit"]:hover {
    background-color: #218838;
}

button[type="button"] {
    background-color: #dc3545;
    color: white;
}

button[type="button"]:hover {
    background-color: #c82333;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 15px;
    }
    
    .tiempo {
        flex-direction: column;
    }
    
    .buttons {
        flex-direction: column;
    }
}

@media (max-width: 375px) {
    .container {
        width: 100%;
        padding: 10px;
    }
    
    input[type="text"],
    input[type="time"],
    textarea {
        font-size: 14px;
        padding: 8px;
    }
    
    textarea {
        height: 80px;
    }
    
    button {
        font-size: 14px;
        padding: 8px 16px;
    }
}
